* {
  font-family: 'Cinzel', serif;
}

a {
  margin-right: 10px;
  background-color: #d1c7c9;
}

.container {
  background-color: #42424c;
  padding-bottom: 100px;
}

header {
  padding: 50px 20px;
  background-color: #d1c7c9;
}

.navBar {
  font-size: 2.5rem;
  background-color: #d1c7c9;
}

.navBar:hover {
  cursor: pointer;
}

.animationDetails {
  display: none;
}

.hidden {
  display: none;
}

.view {
  background-color: #42424c;
  display: block;
  text-align: center;
}

.favoriteList {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}
