.img {
  width: 50%;
}

.favoriteImg {
  width: 80%;
}
.titles {
  padding: 10px;
  text-align: center;
  width: 25%;
}

.titles:hover {
  cursor: pointer;
}

div {
  color: black;
}

.list {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.list2 {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.bigImage {
  width: 80%;
  text-align: center;
}

.animationTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageLocation {
  text-align: center;
}

.favoriteImageLocations {
  text-align: center;
}

.favorite {
  padding: 100px;
}
.favorite:hover{
  cursor: pointer;
}
.animationTitle2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.favoriteTitles {
  padding: 10px;
  text-align: center;
  width: 25%;
}
.title {
  padding: 10px;
  text-align: center;
  width: 25%;
}

@media screen and (max-width: 375px){
.img {
  width: 80px;

}

.favoriteImg {
  width: 80px;

}
}
