.img {
  width: 100px;
  height: 100px;
}

.titles {
  padding: 10px;
  text-align: center;
  width: 25%;
}

.titles:hover {
  cursor: pointer;
}

div {
  color: white;
}

.list {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.list2 {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.bigImage {
  height: 300px;
  width: 300px;
  text-align: center;
}

.animationTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageLocation {
  text-align: center;
}

.favorite {
  padding: 100px;
}
.favorite:hover{
  cursor: pointer;
}
